
body{
    text-align: center;
    /* background-image: url(/images/RANDOM_SLECTOR.jpg); */
    background-image: url(/images/bg01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.completed {
    text-decoration: line-through;
    color: gray;
}


meter{
    width: 200px;
}